<div class="event-card" data-id="{{id}}">
  <div class="event-image-wrapper" >
    <img class="event-image" src="{{imageUrl}}" alt="{{name}} poster">
  </div>
  <p class="event-title">{{name}}</p>
  <p class="event-date">{{date}}</p>
  <p class="event-place">{{venue}}</p>
</div>