{{! <div class="backdropEvent is-hidden" data-modal_event> }}
<div class='modal-event-card' id='modal_product' data-event>
  <div class='event_content_icon'>
    <img
      class='icon_img'
      src='{{eventImages.0.url}}'
      alt='{{name}}'
      title='{{name}}'
    />

  </div>

  <div class='allinfo_about_event'>
    <div class='main_img_conteiner'>
      <img
        class='main-img'
        src='{{eventImages.1.url}}'
        alt='{{name}}'
        title='{{name}}'
      />
    </div>

    <div class='description_event'>
      <div class='event_info'>
        <h2 class='event_info_title'>INFO</h2>
        <div class='event-wrapper'>
          {{#if eventFullInfo}}
            <p class='event_info_text shortInfo'>{{eventInfo}}<span
                class='more-info'
              >...</span></p>
            <p class='event_info_text fullInfo'>{{eventFullInfo}}</p>
          {{else}}
            <p class='event_info_text shortInfo'>{{eventInfo}}</p>
          {{/if}}
        </div>

      </div>
      <div class='event_date'>
        <h2 class='event_date_title'>WHEN</h2>
        <p class='event_date_text_up'>{{date}}</p>
        <p class='event_date_text'>{{time}}
          ({{timezone}})
          {{!-- ({{city}}/{{country}}) --}}

        </p>
      </div>
      <div class='event_place'>
        <h2 class='event_place_title'>WHERE</h2>
        <p class='event_place_text_up'>{{city}},
          {{country}}</p>
        <p class='event_place_text'>{{venue}}</p>
      </div>
      <div class='event_headliner'>
        <h2 class='event_headliner_title'>WHO</h2>
        <p class='event_headliner_text'>{{attractions}}</p>
      </div>
      <div class='event_price'>
        <h2 class='event_price_title'>PRICES</h2>

        {{#if priceRanges}}
          <div class='event_price_container'>
            <svg
              class='event_price_svg'
              version='1.1'
              xmlns='http://www.w3.org/2000/svg'
              width='24'
              height='16'
              viewBox='0 0 45 32'
            >
              <title>ticket1</title>
              <path d='M5.020 1.569h-5.020v30.118h5.020v-30.118z'></path>
              <path d='M17.645 1.569h-5.020v30.118h5.020v-30.118z'></path>
              <path d='M25.25 1.569h-5.019v30.118h5.019v-30.118z'></path>
              <path d='M45.176 1.569h-7.453v30.118h7.453v-30.118z'></path>
              <path d='M10.039 1.569h-2.434v30.118h2.434v-30.118z'></path>
              <path d='M30.118 1.569h-2.434v30.118h2.434v-30.118z'></path>
              <path d='M35.137 1.569h-2.434v30.118h2.434v-30.118z'></path>
            </svg>
            <p class='event_price_text'>Standart
              {{priceRanges.0.min}}-{{priceRanges.0.max}}
              {{priceRanges.0.currency}}</p>

          </div>
          <a class='buy_tickets_wraper' href='{{url}}'><span
              class='buy_tickets'
              {{!-- data-id='{{id}}' --}}
            >BUY TICKETS</span></a>
          {{#if priceRanges.1.currency}}
            <div class='event_price_container'>
              <svg
                class='event_price_svg'
                version='1.1'
                xmlns='http://www.w3.org/2000/svg'
                width='24'
                height='16'
                viewBox='0 0 45 32'
              >
                <title>ticket1</title>
                <path d='M5.020 1.569h-5.020v30.118h5.020v-30.118z'></path>
                <path d='M17.645 1.569h-5.020v30.118h5.020v-30.118z'></path>
                <path d='M25.25 1.569h-5.019v30.118h5.019v-30.118z'></path>
                <path d='M45.176 1.569h-7.453v30.118h7.453v-30.118z'></path>
                <path d='M10.039 1.569h-2.434v30.118h2.434v-30.118z'></path>
                <path d='M30.118 1.569h-2.434v30.118h2.434v-30.118z'></path>
                <path d='M35.137 1.569h-2.434v30.118h2.434v-30.118z'></path>
              </svg>

              <p class='event_price_text'>VIP
                {{priceRanges.1.min}}-{{priceRanges.1.max}}
                {{priceRanges.1.currency}}</p>
            </div>
            <a class='buy_tickets_wraper' href='{{url}}'><span
                class='buy_tickets'
                data-id='{{id}}'
              >BUY TICKETS</span></a>
          {{/if}}

        {{else}}
          <p class='event_price_text'>No price</p>
        {{/if}}
      </div>

    </div>

  </div>
  <a class='more_about_author_wraper' href='{{url}}'><span
      class='more_about_author'
      {{!-- data-id="{{id}} --}}
    >MORE FROM THIS AUTHOR</span></a>

  <button class='close_modal_event' id='close_modal_event' data-modal-close>
    <svg
      width='25'
      height='25'
      viewBox='0 0 24 24'
      fill='4C00FE'
      xmlns='http://www.w3.org/2000/svg'
    >
      <path
        d='M19 6.41L17.59 5L12 10.59L6.41 5L5 6.41L10.59 12L5 17.59L6.41 19L12 13.41L17.59 19L19 17.59L13.41 12L19 6.41Z'
        fill='#4C00FE'
      ></path>
    </svg></button>

  <button class='add-to-favorite-bttn is-hidden'>
    <svg
      width='25'
      height='25'
      xmlns='http://www.w3.org/2000/svg'
      viewBox='0 0 349.99 349.99'
    >
      <path
        d='M323.365 50.271c-33.058-33.057-87.148-33.057-120.205 0l-30.054 30.05-30.05-30.05c-33.058-33.057-87.148-33.057-120.206 0s-33.057 87.148 0 120.205l51.531 51.53 98.725 98.729 98.724-98.724 51.535-51.535c33.053-33.057 33.053-87.148 0-120.205z'
      ></path>
    </svg>
  </button>
</div>
{{! </div> }}