<li class='event-card' data-id='{{id}}' id="event-element-{{id}}">
  <div class='event-image-wrapper'>
    <img class='event-image' src='{{imageUrl}}' alt='{{name}} poster' />
  </div>
  <div class='event-data-wrapper'>
    <p class='event-title'>{{name}}</p>
    <div class='event-data'>
      <p class='event-date'>{{date}}</p>
      <p class='event-place'><i class="fas fa-map-marker-alt"></i>{{venue}}</p>
    </div>
  </div>
</li>